/* Surchargez vos styles CSS dans ce fichier */

.actionBar .secondaryActionPanel .validerFacture {
  background-image: url("../img/icon_lightGreen.png");
}

.actionBar .secondaryActionPanel .rejeterFacture {
  background-image: url("../img/icon_red.png");
}

.actionBar .secondaryActionPanel .litigerFacture {
  background-image: url("../img/icon_lightBlue.png");
}

.actionBar .secondaryActionPanel .delitigerFacture {
  background-image: url("../img/icon_lightBlue.png");
}

.actionBar .secondaryActionPanel .annulerFacture {
  background-image: url("../img/icon_purple.png");
}

.textAreaModalPanelComment {
  width:260px;
  height:150px;
}
