/* Surchargez vos styles CSS dans ce fichier */

.actionBar .secondaryActionPanel .validerFacture {
  background-image: url("../img/icon_validerFacture.png");
}

.actionBar .secondaryActionPanel .invaliderFacture {
  background-image: url("../img/icon_invaliderFacture.png");
}

.actionBar .secondaryActionPanel .rejeterFacture {
  background-image: url("../img/icon_rejeterFacture.png");
}

.actionBar .secondaryActionPanel .litigerFacture {
  background-image: url("../img/icon_litigerFacture.png");
}

.actionBar .secondaryActionPanel .delitigerFacture {
  background-image: url("../img/icon_delitigerFacture.png");
}

.actionBar .secondaryActionPanel .annulerFacture {
  background-image: url("../img/icon_annulerFacture.png");
}

.actionBar .secondaryActionPanel .ChangerUtilFacture {
  background-image: url("../img/icon_changerUtilFacture.png");
}

.textAreaModalPanelComment {
  width:260px;
  height:150px;
}
