/* Surchargez vos styles CSS dans ce fichier */

/** Custom action */
.actionBar .secondaryActionPanel .exportCSV {
  background-image: url(../../../ui/airsSuite/img/actionBar/sec_exportCSV.png);
}

.actionBar .secondaryActionPanel .exportCSV_all {
  background-image: url(../../../ui/airsSuite/img/actionBar/sec_exportAllCSV.png);
}

.actionBar .secondaryActionPanel .exportarbo {
  background-image: url(../../../ui/airsSuite/img/actionBar/sec_exportAll.png);
}

.actionBar .secondaryActionPanel .exportarbo_all {
  background-image: url(../../../ui/airsSuite/img/actionBar/sec_exportAll.png);
}

.actionBar .secondaryActionPanel .exportPDF {
  background-image: url(../../../ui/digitech/img/action_display-report_PDF_32x32.png);
}

.actionBar .secondaryActionPanel .exportPDF_all {
  background-image: url(../../../ui/airsSuite/img/actionBar/sec_exportAll.png);
}

.actionBar .secondaryActionPanel .archive {
  background-image: url(../img/actionBar/sec_closeMail.png);
}

.actionBar .secondaryActionPanel .restoreMail {
  background-image: url("../img/actionBar/sec_retoreMail.png");
}

.actionBar .mainActionPanel .addMailResponse {
  background-image: url("../img/actionBar/main_addMailResponse.png");
}

.actionBar .mainActionPanel .signMail {
  background-image: url("../img/actionBar/main_signMail.png");
}

 .actionBar .mainActionPanel .validate {
  background-image: url("../img/actionBar/main_validateMail.png");
}

 .actionBar .mainActionPanel .refuse {
  background-image: url("../img/actionBar/main_refuseMail.png");
}

 .actionBar .secondaryActionPanel .validate {
  background-image: url("../img/sec_validate.png");
}

 .actionBar .secondaryActionPanel .refuse {
  background-image: url("../img/visa_ko.png");
}

 .actionBar .secondaryActionPanel .askvalidate {
  background-image: url(../../../ui/airsSuite/img/actionBar/sec_assign.png);
}

.actionBar .secondaryActionPanel .exportHTML {
  background-image: url(../img/action_display-report_HTML_16x16.png);
}

.actionBar .secondaryActionPanel .exportHTML_all {
  background-image: url(../img/ExportArbo.png);
}
