/* Surchargez vos styles CSS dans ce fichier */
.dataTable .footer .pager {
    float: left;
}
.dataTable .footer .rowCount {
    float: left;
}

.dataTable tbody .rich-table-cell, .dataTable tbody .rich-extdt-cell {
    white-space: nowrap;
}

.myTextArea {
	width:200px;
	height:30px;
}

.dataTable .filteredColumn .rich-filter-input{
	width:auto;
}

/*.displayTreeView{
/*.displayTreeView{
	display:none;	
}*/

#contentForm\:resultTable\:colTYPECOURRIERFilter{
	display:none;
}

.rich-table-cell .TYPE_COURRIER td{
	text-align:center;
}


/* Bouton d'action */

.actionBar .secondaryActionPanel .iconEcheanceDate{
  background-image: url("../img/icon_due_date.png");
}

.actionBar .secondaryActionPanel .iconPDF{
  background-image: url("../img/CCVD_word2pdf_32x32.png");
}

.actionBar .secondaryActionPanel .iconDossierPDF{
  background-image: url("../img/CCVD_sync_32x32.png");
}

.actionBar .secondaryActionPanel .iconSynchro{
  background-image: url("../img/CCVD_due_32x32.png");
}

.actionBar .secondaryActionPanel .iconReminder{
  background-image: url("../img/icon_reminder.png");
}

.actionBar .secondaryActionPanel .iconEdit{
  background-image: url("../img/icon_edit.png");
}

.actionBar .secondaryActionPanel .iconEditUser{
  background-image: url("../img/icon_edit_user.png");
}

.actionBar .secondaryActionPanel .iconNote {
  background-image: url("../img/icon_note.png");
}

.actionBar .secondaryActionPanel .iconArchiveDate{
  background-image: url("../img/icon_archive_date.png");
}

.actionBar .secondaryActionPanel .iconDelete{
  background-image: url("../img/icon_delete.png");
}

.actionBar .secondaryActionPanel .iconDuplication{
  background-image: url("../img/icon_duplication.png");
}

.actionBar .secondaryActionPanel .iconArchive{
  background-image: url("../img/icon_archive.png");
}

.actionBar .secondaryActionPanel .iconValid{
  background-image: url("../img/icon_valid.png");
}

.actionBar .secondaryActionPanel .iconDistribution{
  background-image: url("../img/icon_distribution.png");
}

.actionBar .secondaryActionPanel .iconScan{
  background-image: url("../img/icon_scan.png");
}

.actionBar .secondaryActionPanel .iconSearch{
  background-image: url("../img/icon_search.png");
}

.actionBar .secondaryActionPanel .iconDueDate{
  background-image: url("../img/icon_due_date.png");
}

.actionBar .secondaryActionPanel .iconSendValid{
  background-image: url("../img/icon_send_valid.png");
}

.actionBar .secondaryActionPanel .iconWaiting{
  background-image: url("../img/icon_waiting.png");
}

.actionBar .secondaryActionPanel .iconControl{
  background-image: url("../img/icon_control.png");
}

.actionBar .secondaryActionPanel .iconNew{
  background-image: url("../img/icon_new.png");
}

.actionBar .secondaryActionPanel .iconTreatment{
  background-image: url("../img/icon_treatment.png");
}

.actionBar .secondaryActionPanel .iconRestartFlow{
  background-image: url("../img/icon_restartFlow.png");
}

.actionBar .secondaryActionPanel .iconReject{
  background-image: url("../img/icon_reject.png");
}

.actionBar .secondaryActionPanel .export {
  background-image: url("../img/sec_export.png");
}

.actionBar .secondaryActionPanel .export_all {
  background-image: url("../img/sec_exportAll.png");
}

.actionBar .secondaryActionPanel .iconMail {
  background-image: url("../img/icon_mail.png");
}

.actionBar .secondaryActionPanel .iconSynchro {
  background-image: url("../img/icon_sync.png");
}

#modalPanelCustomActionCDiv
{
	margin-left: -300px;
}