/* Surchargez vos styles CSS dans ce fichier */


.actionBar .secondaryActionPanel .icone_sendMail_PJ {
  background-image: url("../img/MSC/icone_sendMail_PJ.png");
}


.actionBar .secondaryActionPanel .ValiderDoc {
  background-image: url("../img/WKF/ValiderDoc.png");
}

.actionBar .secondaryActionPanel .RefuserDoc {
  background-image: url("../img/WKF/RefuserDoc.png");
}

.mailAttachmentsCustom {
  position: relative;
}


.mailAttachmentsCustom {
  display: flex;
  flex-direction: column;
}

.mailAttachmentsCustom td {
  padding: 4px 0;
}

.mailAttachmentsCustom td label {
  width:400px;
  align-items: center;
  white-space: nowrap;   /* le nom reste sur une seule ligne */
}

.mailAttachmentsCustom input[type="checkbox"] {
  margin-right: 8px;     /* espace entre la case et le texte */
}

