.txtwhite10pxbold
{
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  color: #004b9f;
}

/*Les classes pour la vue simple labels*/
.labelUpdateClass{
    
	}
.inputUpdateClass{
	width: 200px;
	height: 18px;
	}
	
.inputMultiClass{
   width: 50px;
   height: 18px;
}
	
.addremoveButton{
	height: 18px;	
}

.cellsPanel{
	height: 18px;
}

.inputUpdateErrorClass{
	width: 200px;
	color:red;
	}

body {
	margin: 0px;
	font-family: Arial;
	font-size: 12px;
	background-color: White;
}

td, th, a, input, select {
	font-family: Arial;
	font-size: 12px;
	color: #000000;
}
input {
	border: 1px solid #000000;
	height: 18px;
}

.top{
vertical-align: top;
}

textarea {
	font-family: Arial;
	font-size: 12px;
	color: #000000;
	padding:10px;
	border: 1px solid #000000;
}
#checkbox {
	border: 0px;
}

.menu {
	background-color: #000000;
}
.menu td, a {
	font-size: 12px;
	color: Black;
	text-decoration: none;
}	
.menu th{
	font-size: 10px;
	background-color: #ff9600;
}
.menu span {
	font-size: 11px;
	font-weight: bold;
	padding-left: 5px;
}

.loginShadow {	
 filter:progid:DXImageTransform.Microsoft.DropShadow(OffX=5, OffY=5,Color=gray);
 }
 
 #login
{
  height: auto;
  border: 1px solid black;
  background-color : white;
  align: center;
}

#login TR
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#login TD
{
  height:25px;
  margin: 0;
  padding: 0 0 0 0;
  border: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size : x-small;
  vertical-align : top;
}

.loginBold
{
  font-weight : bold;
  font-family: Arial;
  font-size: 12px;
  color: #004b9f;
}
.wrap1 {
	border-top: 1px solid #353535;
	padding-right: 10px;
}
.wrap2 {
	border-left: 1px solid #353535;
}
.wrap3 {
	border-bottom: 1px solid #353535;
}
.wrap4 {
	border-right: 1px solid #353535;
}
.wrap5 {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;

}
.wrap6 {
	font-weight: bold;
	color: #80C17D;
}
.table1 {
		 filter:progid:DXImageTransform.Microsoft.DropShadow(OffX=5, OffY=5,Color=gray);
		border: 1px solid #000000;
		font-size: 10px; 
		border-bottom-width: 0px;
 }
.table1 th {
	border-bottom: 1px solid #000000;
	background-color: #f9911e;
}
.table1 td {
	border-bottom: 1px solid #000000;
}
.table1td1 {
	background-color: #fefefe;
}
.table1td2 {
	background-color: #e1e9ef;
}.tabsbackground {
	background-color: #e1ded5;
	font-size: 10px;
	padding: 10px;
}
.tabselected {
	background-color: #e1ded5;
}
.tabnotselected {
	font-size: 10px;
	color: #000000;
}
.tabslinks, .tabslinks a {
	color: #0000ff;
}
 .tabslinks a {
 	color: #0000ff;
	text-decoration: underline;
 }
.pagination {
	font-size: 9px;
	color: #000000;
	font-weight: bold;
}
.pagination a {
	font-size: 9px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}
.blueTable {
	border: 1px solid #000000;
	background-color: #e1e9ef;
	padding: 5px;
}
.popupHeaders {
	background-color: #000000;
	color: #ffffff;
	font-weight: bold;
	font-size: 11px;
}
.titlePage {
	background-color: #cedeed;
	font-family: Arial;	
	font-size: 18px;
    color: #004b9f;
	font-weight: bold;
}
.breadcrubs {
	color: #ffffff;
}
.breadcrubs a {
	color: #ffffff;
	text-decoration: underline;
}
.searchTable {
	font-family: Arial;
	text-decoration: underline;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}
.inactiveButton {
	height: 20px;
	border: 1px solid #000000;
	background-color: #cedeed;
	font-family: Arial;
	color: #000000;
	font-weight: bold;
	font-size: 12px;
}

.activeButton {
	font-weight: bold;
	height: 20px;
	border: 1px solid #000000;
	background-color: #ffffff;
	color: #000000;
}
.titleCol {
	font-family: Arial;
	font-size: 12px;
	font-weight : bold;
	color: #000000;	
}

.headerLeft {
	width : 20%;
	text-align: left;
}

.headerMid {
	width : 60%;
	text-align: center;
	vertical-align : middle; 
}

.headerRight {	
	width : 20%;
	text-align: right;
}

.airsHeaderClass {
	background-color: #cedeed;
	font-family: Arial;	
	font-size: 12px;
    color: #004b9f;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	font-weight: bold;
	margin: 2px;
	padding: 0px;
	padding-left: 4pt;
	padding-right: 4pt;
	padding-bottom: 2px;
	font-weight: 400;
}

.airsBordereauHeaderClass {
	background-color: white;
	color: #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	font-weight: bold;
	margin: 2px;
	padding: 0px;
	padding-left: 4pt;
	padding-right: 4pt;
	padding-bottom: 2px;
	font-weight: 400;
}

.airsLineHeaderClass {
	background: #ff942c url("Images/menu.bg-nav.gif") repeat-x;
	border: 1px solid #979797;
	border-width: 1px 0;
}

.airsColumnClass1 {
	background-color: window;
	padding:0px;
}

.airsRowClass1 {
	background-color: #FFFFFF;
	padding:0px;
 	align: left;
	color: Black;
}

.airsRowClass2 {
	background-color: #c0d0df;
	padding:0px;
 	align: left;	
	color: Black;
}

.progressBarEmpty{
	background-color: #ebebeb;
	}
.progressBarFull{
	background-color:#708090;
	}

.airsRowClass1Sel{
	background-color: #FFFFFF;
	padding:0px;
 	align: left;
	color: Black;
	font-weight: bold;
}

.airsRowClass2Sel {
	background-color: #E1E9EF;
	padding: 0px;
	align: left;
	color: Black;
	font-weight: bold;
}
.airsFooterClass {
	background-color: #FFFFFF;
	color: #000000;
	border-width: 0px;
	border-style: none;
	padding:0px;
	padding-left:4pt;
	padding-right:4pt;
	font-weight: 100;
}

/******************************************
 *	Styles de Search.jsp - formulaire de recherche  *
 ******************************************/

.gridRowClass1 {
	background-color: #c0d0df;
	padding:0px;
 	align: left;
}

.gridRowClass2 {
	background-color: #FFFFFF;
	padding:0px;
 	align: left;
}

.gridOutputText {		
	width: 200px;
	border: 0px;
	font-family: Arial;
	font-size: 12px;
	color: #004b9f;
}

.gridInputText {
	width: 200px;
	border: 1px solid #000000;
	height: 18px;
	font-family: Arial;
	font-size: 12px;
	color: Black;
}

.gridSelectOneMenu {
	border: 1px solid #000000;
	height: 18px;
	width: 200px;
}

.gridOutputTextOperator {		
	width: 40px;
	height: 18px;
	border: 0px;
	font-family: Verdana, Arial;
	font-size: 10px;
}

.gridSelectOneMenuOperator {
	border: 1px solid #000000;
	height: 18px;
	width: 40px;
	font-family: Arial;
	font-size: 12px;
	color: #004b9f;
}
/**********************************************
 *	Compound Component:  DatePicker Dropdown  *
 **********************************************/

.inputText_DatePicker {
	background-color: ButtonFace;
	border: 1px;
	border-style: solid;
	border-color: ButtonShadow;
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: normal;
	color: WindowText;
	padding: 2px;
	margin: 0px;
}

.inputText_DatePicker-Size {
}

.inputText_DatePicker-Header {
	border-width: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: ButtonShadow;
}

.inputText_DatePicker-Body {
	border-width: 0px;
	border-style: none;
	background-color: window;
}

.inputText_DatePicker-HeaderLine1,
.inputText_DatePicker-HeaderLine2,
.inputText_DatePicker-HeaderWeekday, 
.inputText_DatePicker-HeaderYear,
.inputText_DatePicker-HeaderMonth {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle;
}

.inputText_DatePicker-HeaderLine1 {
	width: 12px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 1px;
}

.inputText_DatePicker-HeaderYear {
	color: WindowText;
	padding-top:2px;
	padding-bottom:1px; 
}

.inputText_DatePicker-HeaderLine2 {
	width: 12px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 3px;
}

.inputText_DatePicker-HeaderMonth {
	color: WindowText;
	padding-bottom: 3px;
}

.inputText_DatePicker-Button {
	border: 0px;
	width:  12px;
	height: 12px;
}

.inputText_DatePicker-HeaderWeekday {
	color: WindowText;
	background-color: ButtonFace;
	padding-top: 1px;
	padding-bottom: 2px;
}

.inputText_DatePicker-OtherMonth,
.inputText_DatePicker-CurrentMonth,
.inputText_DatePicker-CurrentDay, 
.inputText_DatePicker-CurrentOtherDay, 
.inputText_DatePicker-InvalidDay, 
.inputText_DatePicker-Today,
.inputText_DatePicker-CurrentToday {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
}

.inputText_DatePicker-OtherMonth {
	color: GrayText;
	border-color: Window;
}
.inputText_DatePicker-CurrentMonth {
	color: WindowText;
	border-color: Window;
}

.inputText_DatePicker-CurrentDay {
	color: HighlightText;
	background-color: Highlight;
	border-color: Window;
}

.inputText_DatePicker-CurrentOtherDay {
	color: HighlightText;
	background-color: Highlight;
	border-color: Window;
}

.inputText_DatePicker-InvalidDay {
	color: GrayText;
	background-color: buttonface;
	border-color: buttonface;
}

.inputText_DatePicker-Today {
	color: WindowText;
	font-weight: bold;
	background-color: Window;
	border-color: ButtonShadow;
}

.inputText_DatePicker-CurrentToday {
	color: HighlightText;
	font-weight: bold;
	background-color: Highlight;
	border-color: Window;
}

/* Test Miaou */
/* Message d'erreur */

.styleError {
     background: #ffcccc url("Images/error_small.png") no-repeat 5px 4px;
     color: #900;
     border-top: 1px solid #c00;
     border-bottom: 1px solid #c00;
	 padding : 0.25em 0.5em 0.25em 2.5em;
     font-weight: bold;
 }

/* Message d'avertissement */
.styleWarning {
	background: #FFFFE1 url("Images/warning_small.png") no-repeat 5px 4px;
	color: #000000;
	border-top: 1px solid #FFD700;
	border-bottom: 1px solid #FFD700;
	padding: 0.25em 0.5em 0.25em 2.5em;
	font-weight: bold;
}
/* Test Miaou */
/* Menu */
#navigation {
	background: #FFFFFF url("Images/menu.bg-nav.gif") repeat-x bottom;
	border: 1px solid #979797;
	border-width: 1px 0;
	font-size: 1em; /* taille générale de la fonte du menu */
	margin-top: 0em; /* marge haute */
	padding-top: 0em; /* distance bord haut / bord haut menu */
}

#attente_navigation {
	background: #FFFFFF url("Images/menu.bg-nav.gif") repeat-x;
	border: 1px solid #979797;
	border-width: 1px 0;
	align:center;
	
}

#navigation ul, #navigation ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation ul {
	padding: 3px 0; /*2px pr la taille des items */
	text-align: left;
}

#navigation ul li {
	display: inline;
	margin: .15em; /* Espacement entre les items du menus */
}

#navigation ul li a {
	background: url("Images/menu.tab-right.gif") no-repeat 100% 0;
	color: black;
	font-family: Arial;
	font-size: 12px;
	padding: 3px 0;
	text-decoration: none;
}

#navigation ul li a span {
	background: url("Images/menu.tab-left.gif") no-repeat;
	padding: 3px 0.75em; /* espacement à gauche et à droite des éléments du menu */
}

#navigation ul li a:hover span {
	color: black;	
	text-decoration: underline;
}

#navigation #true {
 border: 0px solid #979797;
 border-width: 0px 0;
}

#navigation #true a {
  background-image:url("Images/menu.tab-right.gif");
}

#navigation #true a span {
  background-image:url("Images/menu.tab-left_on.gif");
  padding: 3px 1.5em; /* espacement à gauche et à droite des éléments du menu, plus de place pr l'icone */
}

/*\*//*/
#navigation ul li a {
	display: inline-block;
	white-space: nowrap;
	width: 1px;
}

#navigation ul {
	padding-bottom: 0;
	margin-bottom: -1px;
}
/**/

/*\*/
* html #navigation ul li a {
	padding: 0;
}
/**/

 
#searchbar {
	height: 68px;
	position: absolute;
	right: 0;
	top: 0;
	width: 400px;
}
#searchbar .transition {
	bottom: 0;
	position: absolute;
	left: 0;
}
#searchbar .header {
	bottom: 26px;
	position: absolute;
	left: 100px;
}
#searchbar form {
	position: absolute;
	bottom: 3px;
	left: 120px;
	margin: 0;
	padding: 0;
}
#searchbar input {
	border-width: 1px;
	height: 15px;
	padding: 0;
	margin: 0;
}
#searchbar input.button {
	border-width: 0;
	height: auto;
	margin: 0 0 -1px 1px;
	vertical-align: bottom;
}
