/* Tableaux sort icon */

.dataTable .rich-sort-icon, .dataTable .extdt-header-sort-img {
    float: right;
    margin-top: 0;
}

/* Bouton Fermer */

.panelWithTitle .buttons input.btn_submit, .buttons input.btn_submit {
    background-color: #DA6EA6;
    border-color: #DA6EA6;
}

/* images */

.panelWithTitle2 .title .text {
    background-image: url("../../../custom/ui/img/puce01.png");
}

/* onglets */

.dataTable .header .titlePanel {
    background-image: url("../../../custom/ui/img/tableTitle_bg.gif");
}

.dataTable .resultsByPage {
    background-image: url("../../../custom/ui/img/tableTitle_bg.gif");
}

/* header.css */

.rich-menu-list-border {
border-left: none;
}

.rich-menu-item-enabled, .rich-menu-group-enabled {
    border: 0 solid transparent;
    padding: 2px 36px 2px 2px;
}


.headerPanel .rich-toolbar .rich-toolbar-item .logout {
  background-image: url("../../../custom/ui/img/logout.png");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 20px;
}


.panelWithTitle .containerTop .containerLeft {
  width: 10px;
  background-image: none;
}

.panelWithTitle .containerTop .containerMiddle {
  background-image: none;
  background-repeat: repeat-x;
  background-position: bottom;
}

.panelWithTitle .containerTop .containerRight {
  width: 10px;
  background-image: none;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.panelWithTitle .containerMiddle .containerLeft {
  background-image: none;
  background-repeat: repeat-y;
}

.panelWithTitle .containerMiddle .containerRight {
  background-image: none;
  background-repeat: repeat-y;
}

.panelWithTitle .containerBottom .containerLeft {
  background-image: none;
  background-repeat: no-repeat;
  background-position: top right;
}

.panelWithTitle .containerBottom .containerMiddle {
  height: 10px;
  background-image: none;
  background-repeat: repeat-x;
}

.panelWithTitle .containerBottom .containerRight {
  background-image: none;
  background-repeat: no-repeat;
  background-position: top left;
}


.headerPanel form {
  background-image: url("../../../custom/ui/img/header.jpg");
  background-repeat: no-repeat;
  #background-position:right top;
}

.headerPanel .data .product {
  width: 403px;
  height: 45px;
  background-image: url("../../../custom/ui/img/logo_net_document.gif");
    background-repeat: no-repeat;
}

.rich-label-text-decor
{
  border-left-color: #fad0e5;
  border-left-style: solid;
  border-left-width: 2px;
}

.headerPanel .rich-toolbar .rich-toolbar-item .home {
  background-image: url("../../../custom/ui/img/home.png");
  background-position: 4px center;
  background-repeat: no-repeat;
  margin-left: 10px;
  padding-left: 22px;
  padding-right: 24px;
  color: #fad0e5;
  text-transform: uppercase;
  font-size: 1.1em;
}

.headerPanel .rich-toolbar .rich-toolbar-item .home .rich-menu-item-label {
  color: #fad0e5;
}

.headerPanel .rich-toolbar .rich-toolbar-item .help .rich-label-text-decor {
  color: #fad0e5;
}

.headerPanel .rich-ddmenu-label:hover,
.headerPanel .rich-menu-group-hover,
.headerPanel .rich-menu-item-hover {
  background-color: #333333;
  border-color: #fad0e5;
  padding: 3px 6px;
}

.headerPanel .rich-toolbar .rich-toolbar-item .rich-ddmenu-label div {
    padding-top: 2px;
    padding-bottom: 2px;
  border-left-color: #FAD0E5;
  padding-left: 15px;
}

.headerPanel .rich-toolbar .rich-toolbar-item .rich-ddmenu-label .rich-menu-list-border {
  border-left: 0px;
  padding-left: 0px;
}


.headerPanel .rich-toolbar .rich-toolbar-item .rich-ddmenu-label .rich-menu-item {
  padding-left: 0px;
}


.headerPanel .rich-menu-list-bg .rich-menu-item-hover,
.headerPanel .rich-menu-list-bg .rich-menu-group-hover {
  border-style: solid;
border-right-width:0px;
}

.headerPanel .rich-toolbar .rich-menu-list-border {
  background-color: #333333;
  border-color: #fad0e5;
  border-top: none;
}

.headerPanel .rich-menu-list-bg {
padding-right: 8px;
}

.rich-menu-list-border {
border-left-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
}

.userPanel
{
position: relative;
left: 85px;
top: 10px;
}

.organizationPanel
{
position: relative;
top: -10px;
left: -25px;
}

.breadcrumbs {padding: 2px 8px 2px 8px; margin: 0px;}

.footerText#footerCopyright
{
/*color: #D9DADB;*/
color: #394748;
}

.connexion {
  position: absolute;
  width: 720px;
  height: 314px;
  top: 20%;
  left: 50%;
  background-image: url("../../../custom/ui/img/login.png");
  background-repeat: no-repeat;
  margin-left: -360px;
  text-align: left;
  padding-bottom: 0px;
}

.connexionInfos {
  margin-top: 120px;
  margin-left: 90px;
  padding: 16px 8px 8px 8px;
  height: auto;
  position:relative;
  left:110px;
  top:-15px;
}

.connexionInfos input.connexionBtn {
  margin-top: -10px;
position:relative;
left: -154px;
top:35px;
}

.rememberMePanel {
position:relative;
top:30px;
}

.panel label.required {
  color: #000000;
}

.panel label.adminRequired {
  color: #FFFFFF;
}

.connexionInfos .rememberMePanel .input {
    color: #000000;
}

.panelWithTitle .buttons a {
  color: #da6ea6;
}

.panelWithTitle .rich-tabpanel .rich-tabhdr-cell-active td.first,
.panelWithTitle .rich-tabpanel .rich-tabhdr-cell-active .rich-tabhdr-side-cell {
  background-color: #da6ea6;
}

.modalPanel .rich-mpnl-header {
  padding-left: 4px;
  border-style: none;
  border-width: 0px;
  background-color: #da6ea6;
  background-image: none;
  color:#000000;
}

form.home .today td {
background-color: #da6ea6;
background-image: none;
  padding: 0px;
}

form.home .today .content .documentsToProcess {
  padding: 4px 0px 4px 12px;
  background-color: #A83C74;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
}

form.home .today .content .basketTable td {
background-image: url("../../../custom/ui/img/today_bg.png");
/*background-color: #f2a3ca;*/
}

form.home .today .content .basketTable tr.second td {
background-image: none;
background-color: #fad0e5;
}

form.home .today .content .basketTable tr.first td {
background-image: none;
background-color: #f2a3ca;
}

form.home table.favorites .favoritesTracked {
  background-image: url("../../../custom/ui/img/favori.gif");
  background-position: left center;
  background-repeat: no-repeat;
  padding: 15px 0px 0px 50px;
  height: 33px;
}

form.home table.favorites .favorites {
  background-image: url("../../../custom/ui/img/favori2.gif");
  background-position: left center;
  background-repeat: no-repeat;
  padding: 15px 0px 0px 50px;
  height: 33px;
}

form.home .panelWithTitle .topRight .topActions,
form.home .panelWithTitle .title .left,
form.home .panelWithTitle .title .right {
  display: none;
  background-image: url("../../../custom/ui/img/puce01.png");
  width: 0px;
}

form.home .today .content .basketTable td.basket_mailLate.colNumberOfDocuments.notEmpty {
  background-image: url("../../../custom/ui/img/warn.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #f2a3ca;
}

form.home .today .content .basketTable tr.second td.basket_mailLate.colNumberOfDocuments.notEmpty {
  background-image: url("../../../custom/ui/img/warn.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fad0e5;
}

form.home .today .content .basketTable td.indexing.colNumberOfDocuments {
  background-image: url("../../../custom/ui/img/indexing.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #f2a3ca;
}

form.home .today .content .basketTable tr.second td.indexing.colNumberOfDocuments {
  background-image: url("../../../custom/ui/img/indexing.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fad0e5;
}

form.home .today .content .basketTable td.colNumberOfDocuments {
  padding-right: 10px;
  vertical-align: middle;
}

form.home .panelWithTitle .title .text {
  background-image: url(../../../custom/ui/img/puce01.png);
}

.panelWithTitle .title .left {
    background-image: url("../../../custom/ui/img/puce01.png");
    background-position: right center;
    background-repeat: no-repeat;
    width: 16px;
}

form.home .today .footer {
    background-image: url("../../../custom/ui/img/today_footer.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    min-height: 57px;
    min-width: 282px;
}

.headerPanel {
  background-image: url("../../../custom/ui/img/header-ar.jpg");
  background-repeat: repeat-x;
  min-width: 1024px;
}

.actionBar .secondaryActionPanel .exportCSV {
  background-image: url(../img/actionBar/sec_exportCSV.png);
}

.actionBar .secondaryActionPanel .exportCSV_all {
  background-image: url(../img/actionBar/sec_exportAllCSV.png);
}

.actionBar .secondaryActionPanel .closeMail {
  background-image: url("../img/actionBar/sec_closeMail.png");
}

.actionBar .secondaryActionPanel .restoreMail {
  background-image: url("../img/actionBar/sec_restoreMail.png");
}

.actionBar .mainActionPanel .addMailResponse {
  background-image: url("../img/actionBar/main_addMailResponse.png");
}

.actionBar .mainActionPanel .signMail {
  background-image: url("../img/actionBar/main_signMail.png");
}

.actionBar .mainActionPanel .validateMail {
  background-image: url("../img/actionBar/main_validateMail.png");
}

.actionBar .mainActionPanel .refuseMail {
  background-image: url("../img/actionBar/main_refuseMail.png");
}

/* Pour cacher le choix du niveau de secret */
select#contentForm\3AsecretLevel
{display: none; padding: 0px; margin: 0px;}

label[for=contentForm\3AsecretLevel]
{display: none; padding: 0px; margin: 0px;}
