/* Surchargez vos styles CSS dans ce fichier */
.passwordUpdate 
{
	display:none;
}

.secondaryActionPanel .lockDocument {
	display: none;
}

.secondaryActionPanel .unlockDocument {
	display: none;
}

.rich-table-cell .separator {
	display:none;
}

.lock, .unlock{
	display:none;
}

.dataTable tbody .rich-table-cell, .dataTable tbody .rich-extdt-cell {
     white-space: nowrap;
     
}

.dataTable tbody .rich-table-cell {
  border-right: 1px solid black;
}

.displayTreeView, .displayViewUnit, .editViewUnit {
    margin-right: 10px;
}

#otherForm\:documentViewerCustomTogglePanel1
{
	margin-top:50px;
}

.contextual .removeDocument
{
	display:none;
}

/* Masque les actions permettant de switcher de pièce jointe */
.popup .browser .attachment,
.advancedLayout .otherLayoutUnit .browser .attachment
{
	display:none;
}

/* Masque le séparateur entre nom du document et nom de la pièce jointe dans la visioneuse */
.popup .browser, .advancedLayout .otherLayoutUnit .browser img{
	display : none;
}

/* Masque le menu de corbeille */
.rich-menu-item.rich-menu-item-enabled.menuItem.recycleBin 
{
	display:none;
}

/* Masque le lien pour le changement du mot de passe utilisateur */
.link .passwordUpdate{
    display : none;
}

/* Masque la préférence pour le timezone */
label[for="preferenceForm:timezone"] {
    display: none;
}

#preferenceForm\:timezone
{
	display:none;
}

/* Masque la préférence pour le prénom */
label[for="preferenceForm:firstName"] {
    display: none;
}

#preferenceForm\:firstName
{
	display:none;
}

/* Masque la préférence pour le nom */
label[for="preferenceForm:lastName"] {
    display: none;
}

#preferenceForm\:lastName
{
	display:none;
}

/* Masque la préférence pour le décimal */ 

label[for="preferenceForm:decimalSeparator"] {
    display: none;
}

#preferenceForm\:decimalSeparator
{
	display:none;
}

/* Masque la préférence pour l'email */
label[for="preferenceForm:email"] {
    display: none;
}

#preferenceForm\:email
{
	display:none;
}

/* Masque la préférence pour la barre de la visionneuse */
label[for="preferenceForm:documentViewerToolBarDisplayMode"] {
    display: none;
}

#preferenceForm\:documentViewerToolBarDisplayMode
{
	display:none;
}

/* Masque la préférence pour la barre des notes incrustées */
label[for="preferenceForm:documentViewerAnnotationNoteIncrusted"] {
    display: none;
}

#preferenceForm\:documentViewerAnnotationNoteIncrusted
{
	display:none;
}

/* Masque la préférence visioneuse */
#preferenceForm\:j_id151
{
	display:none;
}

#preferenceForm\:documentViewerFileExtensions
{
	display:none;
}

label[for="preferenceForm:documentViewerFileExtensions"] {
    display: none;
}

/* Pop-up de suppression de document : Masque la suppression des enfants */
label[for="removeDocumentInclusion:deleteDocumentModalPanelForm:deletionType:0"] {
    display: inline-table;
}

#removeDocumentInclusion\:deleteDocumentModalPanelForm\:deletionType\:1
{
	display:none;
}

label[for="removeDocumentInclusion:deleteDocumentModalPanelForm:deletionType:1"] {
    display: none;
}

#removeDocumentInclusion\:deleteDocumentModalPanelForm\:deletionType\:2
{
	display:none;
}

label[for="removeDocumentInclusion:deleteDocumentModalPanelForm:deletionType:2"] {
    display: none;
}

/* Masque profil local*/
#preferenceForm\:j_id171
{
	display:none;
}

/* Masquer le type de partage dans la création ou modification d'un commentaire */
label[for="commentModalPanelLazyLoader:lazyModal:commentModalPanelForm:shareType"] {
    display: none;
}

/* Modification de commentaire */
#commentModalPanelLazyLoader\:lazyModal\:commentModalPanelForm\:shareType
{
	margin-left: 525px;
}

/* Masquer Requete personnel (type de partage et Publique)*/
label[for="addPersonalRequestModalPanelLazyLoader:lazyModal:addPersonalRequestModalPanelForm:public"]{
	display: none;
}

#addPersonalRequestModalPanelLazyLoader\:lazyModal\:addPersonalRequestModalPanelForm\:public{
	display: none;
}

label[for="addPersonalRequestModalPanelLazyLoader:lazyModal:addPersonalRequestModalPanelForm:shareType"]{
	display: none;
}

#addPersonalRequestModalPanelLazyLoader\:lazyModal\:addPersonalRequestModalPanelForm\:shareType{
	display: none;
}

/* Suppression niveau de secret */
label[for="contentForm:secretLevel"]{
    display: none;
}

#contentForm\:secretLevel{
    display: none;
}

/* Centre le nombre de page */
.dataTable tr.row td.textAlignRight{
	text-align: center;
}

/* Actions Personnalisées */

/* Barre de séparation entre visionneuse et vue simple */
/*#yui-gen4 {
	margin-left: 4px;
    visibility: hidden;
}*/
.actionBar .secondaryActionPanel .export {
  background-image: url("../img/sec_export.png");
}

.actionBar .secondaryActionPanel .exportAll {
  background-image: url("../img/sec_exportAll.png");
}

.actionBar .secondaryActionPanel .displayBookmarks {
  background-image: url("../img/sec_displayBookmarks.png");
}

.actionBar .secondaryActionPanel .postman_icon {
  background-image: url("../img/icon_distribution.png");
}

.actionBar .secondaryActionPanel .comment_icon {
  background-image: url("../img/icon_note.png");
}

.actionBar .secondaryActionPanel .changeViewer_icon {
  background-image: url("../img/icon_changeviewer.png");
}

.actionBar .secondaryActionPanel .edit_icon {
  background-image: url("../img/icon_edit.png");
}

.actionBar .secondaryActionPanel .exportWebAI_icon {
  background-image: url("../img/icon_exportWebAI.png");
}

.actionBar .secondaryActionPanel .exportBurn_icon {
  background-image: url("../img/icon_burn.png");
}

.actionBar .secondaryActionPanel .copy_icon {
  background-image: url("../img/icon_copy.png");
}

.actionBar .secondaryActionPanel .check_icon {
  background-image: url("../img/icon_check.png");
}

.actionBar .secondaryActionPanel .moveDocument_icon {
  background-image: url("../img/icon_moveDocument.png");
}

.actionBar .secondaryActionPanel .administrator_icon {
  background-image: url("../img/icon_administrator.png");
}

.actionBar .secondaryActionPanel .viewInsuredFolder_icon {
  background-image: url("../img/icon_view.png");
}

.actionBar .secondaryActionPanel .editIndex_icon {
  background-image: url("../img/icon_editIndex.png");
}

.actionBar .secondaryActionPanel .commentDelete_icon {
  background-image: url("../img/icon_noteDelete.png");
}

.actionBar .secondaryActionPanel .editAttachment_icon {
  background-image: url("../img/icon_editAttachment.png");
}

.actionBar .secondaryActionPanel .search_icon {
  background-image: url("../img/icon_view.png");
}

/*********************************************************/
/* AirsDossier 6.2 */
/*********************************************************/
/* Masquer le bouton de numérisation */
.scancreate{
	display : none;
}

/* Vue arborescente */
.displayTreeView{
	display : none;
}

/* Option : Rester en vue arborescente après la création d'un doc. */
#preferenceForm\:stayInHierachicalViewAfterCreate{
	display : none;
}
label[for="preferenceForm:stayInHierachicalViewAfterCreate"]{
	display : none;
}

/* Option : Rester en vue arborescente après la création d'un doc. */
#preferenceForm\:fillFractionDigits{
	display : none;
}
label[for="preferenceForm:fillFractionDigits"]{
	display : none;
}

/* Icone de numérisation en vue unitaire modification */
 #contentForm\:attachmentTable\:0\:editScanAttachment{
    display : none;
 }

/* Icone d'édition de la pièce jointe en vue modification*/
 #contentForm\:attachmentTable\:0\:j_id289{
    display : none;
 }

 .actionBar .secondaryActionPanel .scan{
    display : none;
 }

/* Masquer les boutons afin de pouvoir supprimer la page copier en vue création de document + 2 autres options (Annotations + Signets) */
label[for="contentForm:copyAnnotations"]{
    display : none;
}

#contentForm\:copyAnnotations{
    display : none;
}

label[for="contentForm:deleteSourcePages"]{
    display : none;
}

#contentForm\:deleteSourcePages{
   display : none;
}

label[for="contentForm:deleteAnnotations"]{
    display : none;
}

#contentForm\:deleteAnnotations{
   display : none;
}