/*! Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */
/* Uncomment the following line when using as a custom stylesheet */
/* @import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700"; */

@import url(asciidoctor-default.css);

:root {
  --notecolor: #03a9f4;
  --tipcolor: #4db6ac;
  --warningcolor: #f39c12;
  --cautioncolor: #bf3400;
  --importantcolor: #f44336;
}

.note {
  color: var(--notecolor);
}

.admonitionblock td.icon .icon-note::before {
  content: "\f05a";
  color: var(--notecolor);
}

.admonitionblock td.icon .icon-tip::before {
  content: "\f0eb";
  color: var(--tipcolor);
}

.admonitionblock td.icon .icon-warning::before {
  content: "\f071";
  color: var(--warningcolor);
}

.admonitionblock td.icon .icon-caution::before {
  content: "\f06d";
  color: var(--cautioncolor)
}

.admonitionblock td.icon .icon-important::before {
  content: "\f06a";
  color: var(--importantcolor);
}

.action-get, .action-post, .action-put, .action-patch, .action-delete {
  font-weight: 700;
  min-width: 80px;
  padding: 2px 0;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
}

.action-get {
  color: white;
  background-color: #61affe;
}

.action-post {
  color: white;
  background-color: #49cc90;
}
.action-put {
  color: white;
  background-color: #fca130;
}
.action-patch {
  color: white;
  background-color: #50e3c2;
}
.action-delete {
  color: white;
  background-color: #f93e3e;
}
