/*suppression des icones dans la vue simple
.dataTable img.separator {display: none;}
.dataTable .lock img {display: none;}
.dataTable .displayViewUnit img {display: none;}
.dataTable .editViewUnit img {display: none;}
.dataTable .displayAttachment img {display: none;}
.dataTable .unlock img {display: none;}*/
 


 
.attachmentInViewerPanel .attachment .documentViewer .toolbarDisplayer,
.attachmentSignViewerPanel  .attachment .documentViewer .toolbarDisplayer{
	background-color: #EEEEEE;
	float: none;
	height: 10px;
	position: relative;
	z-index: 1010;
	width: 100%;
}

.attachmentInViewerPanel .attachment .documentViewer .toolbar,
.attachmentSignViewerPanel .attachment .documentViewer .toolbar{
	background-color: #FFFFFF;
	border-bottom: 0px solid #EEEEEE;
	float: left;
	padding: 0 4px;
	position: absolute;
	z-index: 1010;
	width: 100%;
	display: none;
}

.attachmentInRectoPanel .attachment .documentViewer .toolbarDisplayer,
.attachmentVersoViewerPanel  .attachment .documentViewer .toolbarDisplayer{
	background-color: #EEEEEE;
	float: none;
	height: 10px;
	position: relative;
	z-index: 1010;
	width: 100%;
}

.attachmentInRectoPanel .attachment .documentViewer .toolbar,
.attachmentVersoViewerPanel .attachment .documentViewer .toolbar{
	background-color: #FFFFFF;
	border-bottom: 0px solid #EEEEEE;
	float: left;
	padding: 0 4px;
	position: absolute;
	z-index: 1010;
	width: 100%;
}

.parentContainer td
{
	vertical-align: top;
}

.attachmentSignViewerPanel .attachment .documentViewer .embedder img,
.attachmentInViewerPanel .attachment .documentViewer .embedder img
{
	height: 95%;
}

.attachmentInRectoPanel .attachment .documentViewer .embedder img,
.attachmentVersoViewerPanel .attachment .documentViewer .embedder img
{
	height: 95%;
}
.validate
{
color : green;
border-color : green;
}

.wait
{
color : #D77505;
border-color : #D77505;
}

.refused
{
color : red;
border-color : red;
}

/* Surchargez vos styles CSS dans ce fichier */
.connexion{
   text-align: center;
   background-image: url("../img/header-ar.jpg");
}

body  {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top left;
}

.connexion .footer {
    color: #e3b9ac;
}


.connexion .footer .details a {
    color: black;
}

form.home .today .content .documentsToProcess {
    background-color: #804040;
}

form.home .today .header {
    background-image: url("../img/today.png");
      background-position: left top;
}

form.home .today .header .date {
    padding: 70px 0 0 30px;
}

form.home .today .content .smallDataTable {
    padding-top: 0px;
}

form.home .today .footer {
    background-image: url("../img/today_footer.png");
    background-position: right bottom;
}

form.home .today .content .basketTable td {
    background-image: url("../img/today_bg.png");
}

form.home .today .content .basketTable tr.second td {
    background-image: url("../img/today_bg2.jpg");
}

/* cadres fonctionnels à l'accueil */
.panelWithTitle .title .text {
    background-color: #B99595;
}
form.home .panelWithTitle .content {
    background-color: #F5EFE1;
}
form.home table table td {
    background-color: #F5EFE1;
}
/* footer de la page d'acceuil : copyright Digitech */
.footerPanel {
    background-color: #B99595;
}

/* couleur de l'ecriture des onglets dans la barre */
.headerPanel .rich-toolbar .rich-toolbar-item .help {
    color: #6C453B;
}
.rich-toolbar-item {
    color: #6C453B;
}
.headerPanel .rich-toolbar .rich-toolbar-item .home {
    background-image: url("../img/home.png");
    background-position: 4px center;
    background-repeat: no-repeat;
    color: #6C453B;
    padding-left: 24px;
    text-transform: uppercase;
}

.headerPanel .rich-toolbar .rich-toolbar-item .logout {
    background-image: url("../img/logout.png");
    background-repeat: no-repeat;
}

/* custom image client de l'image du header */
.headerPanel .data .product {
    background-image: url("../img/header-logo2.png");
    background-repeat: no-repeat;
}

form.home .panelWithTitle .title .text {
    background-image: url("../img/puce01.png");
}
.headerPanel {
    background-image: url("../img/header-ar.jpg");
}

.panelWithTitle .title .left {
    background-color: #B99595;
    background-image: url("../img/puce01.png");
}
.panelWithTitle .title .right {
    background-image: url("../img/title_bg.png");
}

tr.row td.current {
    background-color: #B99595;
}



.panelWithTitle .rich-tabpanel .rich-tabhdr-cell-active td.first, .panelWithTitle .rich-tabpanel .rich-tabhdr-cell-active .rich-tabhdr-side-cell {
    background-color: #B99595;
}
.footerPanel div.right {
    color: #394748;
}
.connexion .footer {
    background-image: url("../img/footer-logo.gif");
}
.yui-layout-doc .yui-layout-unit-right .yui-layout-hd .collapse {
    background-image: url("../img/layout_arrow_right.png");
}
.yui-layout-doc .yui-layout-clip-right .collapse {
    background-image: url("../img/layout_arrow_left.png");
}

.panel label.required {background-image: url(../img/required.png);}


.panel .legend .required {
	background-image: url(../img/required.png);
}

/*couleurs dans le tableau résultat de recherche*/
.simpleResult tr.row td.TYP_DOC.ChequeKoRouge{
/*.simpleResult tr.row td.ChequeKoRouge{*/
    background-color: red;
    /*color: red;*/
} 

.simpleResult tr.row td.TYP_DOC.ChequeOkVert{
/*.simpleResult tr.row td.ChequeOkVert{*/
    background-color: green;
    /*color: green;*/
} 

.simpleResult tr.row td.TYP_DOC.ChequeAttenteOrange{
/*.simpleResult tr.row td.ChequeAttenteOrange{*/
    background-color: #FF8C00;
    /*color: #FF8C00;*/
} 
/*
tr.row td.current {
    filter:alpha(opacity=50); -moz-opacity:0.50; opacity: 0.50; -khtml-opacity: 0.50; cursor: default;
}*/
