/* Surchargez vos styles CSS dans ce fichier */

/* Common */
body  {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top left;
}

label span, .label {color: #804040;}

.productLogo {background-image: url("../img/header-ar.jpg");}

a.Hyp_sun4:link, a.Hyp_sun4:visited, a.Hyp_sun4:hover,
.MnuJmpOpt_sun4, .MnuJmpOpt_sun4:hover, .MnuJmp_sun4 {color: #6F440D;}

.breadcrumbs {background-color: #B99595;}

.breadcrumbs a.link, .breadcrumbs .BcmSep_sun4, .breadcrumbs .BcmTxt_sun4, .TtlBtnDiv_sun4 a.Hyp_sun4 {color: #FFFFFF;}

/* Login */
.productLogo .description {background-color : #6C4B3B;}


/* Masterhead */
.MstDiv_sun4 {background-image : url("../img/header-ar.jpg");}

div.mastheadButton_4_sun4 {
  background-image: url("../img/woodstock/btn_bg.jpg");
  border-color: #504131;
}

div.mastheadButton_4_sun4 .Hyp_sun4,
div.mastheadButton_4_sun4 a:link,
div.mastheadButton_4_sun4 a:visited,
div.mastheadButton_4_sun4 a:hover {
  background-image: url("../img/woodstock/btn_top_right.jpg");
}

div.mastheadButton_4_sun4 a:hover {color: #A49068;}

#headerPanel .MstTblTop_sun4 .airsInfo {color: #804040;}

#headerPanel .MstTblTop_sun4 .airsInfo .value {color: #000000;}

#headerPanel .MstTblTop_sun4 .airsInfo .LblLev2Txt_sun4 {color: #804040;}

#headerPanel .MstTblEnd_sun4 .MstStatDiv_sun4 {background-image: url("../img/header-zoneid-bg.gif");}

#headerPanel .jobsInfo {background-image: url("../img/header-zoneid-puce-corbeill.gif");}

#headerPanel .jobsInfo .MstPrgLnk_sun4 {color: #804040;}

#headerPanel .globalSearch {background-image: url("../img/header-zoneid-rech-g.gif");}

#headerPanel .inlineAlert_4_sun4 {color: #000000; background-color: #B99595;}

/* Version */
.VrsBdy_sun4 .VrsMstBdy_sun4 {background-image: url("../img/header-ar.jpg");}

/* Content page */
.contentPage div.TtlTxtDiv_sun4 h1.TtlTxt_sun4 {background-image: url("../img/puce_title.jpg"); color: #ffffff;}

/* Table */
.contentPage table {background-color: #B99595;}

.table {background-image: url("../img/woodstock/table_titlebar_top.gif");}

table.Tbl_sun4 caption.TblTtlTxt_sun4 {
  background-image: url("../img/woodstock/table_titlebar_right.gif");
}

.viewUnit .mainPanel .tabContent .table, .searchResult3Windows .mainPanel .tabContent .table {margin: 0px; background-image: url("../img/woodstock/table_titlebar_top2.gif");}

.viewUnit .mainPanel .tabContent table.Tbl_sun4 caption.TblTtlTxt_sun4,
.searchResult3Windows .mainPanel .tabContent table.Tbl_sun4 caption.TblTtlTxt_sun4 {background-image: url("../img/woodstock/table_titlebar_right2.gif");}

table.Tbl_sun4 {background-color: #E3D3B9; border-color: #E3D3B9;}

table.Tbl_sun4 td.TblActTd_sun4, table.Tbl_sun4 td.TblActTdLst_sun4 {background-color: #E3D3B9;}

table.Tbl_sun4 a.TblHdrLnk_sun4:link, table.Tbl_sun4 a.TblHdrLnk_sun4:visited,
table.Tbl_sun4 th.TblColHdrSel_sun4 a.TblHdrLnk_sun4:link, table.Tbl_sun4 th.TblColHdrSel_sun4 a.TblHdrLnk_sun4:visited {
  background-color: #B99595;
}

table.Tbl_sun4 a.TblHdrLnk_sun4:hover,
table.Tbl_sun4 th.TblColHdrSel_sun4 a.TblHdrLnk_sun4:hover, table.Tbl_sun4 th.TblColHdrSel_sun4 a.TblHdrLnk_sun4:hover {
  background-color: #F5EFE1;
}

table.Tbl_sun4 a.TblHdrImgLnk_sun4:link, table.Tbl_sun4 a.TblHdrImgLnk_sun4:visited {background-color: #B99595;}

table.Tbl_sun4 a.TblHdrImgLnk_sun4:hover {background-color: #F5EFE1;}

table.Tbl_sun4 .TblHdrTxt_sun4, table.Tbl_sun4 th.TblColHdrSel_sun4 {background-color: #CBB1B1;}

table.Tbl_sun4 tr.TblSelRow_sun4 td, table.Tbl_sun4 tr.TblSelRow_sun4 th {background-color: #CBB1B1;}

.contentPage table.Tbl_sun4 {background-color: #E3D3B9;}

.contentPage table.detail, .radioButtonGroup table, .checkboxButtonGroup table, .tree table {background-color: transparent;}

tr.second, tr.second th, tr.second td {background-color: #F5EFE1;}

tr.row:hover .TblTdLyt_sun4, tr.row:hover .TblTdSel_sun4 {background-color: #FDFDEC;}

/* TabSet */
.Tab1Div_sun4 a.Tab1Lnk_sun4, .Tab1Div_sun4 a.Tab1Lnk_sun4:link, .Tab1Div_sun4 a.Tab1Lnk_sun4:visited, .Tab1Div_sun4 span.Tab1Lnk_sun4 {
  background-image: url("../img/woodstock/tab_right.jpg");
}

.Tab1Div_sun4 td.Tab1TblSelTd_sun4 div.Tab1SelTxtNew_sun4 {
  background-image: url("../img/woodstock/tab_right_selected.jpg");
}

.Tab1Div_sun4 td { background-image: url("../img/woodstock/com/sun/webui/jsf/suntheme4_2/images/tabs/level1_deselect.jpg");}

.Tab1TblNew_sun4 .Tab1TblSelTd_sun4 {background-image: url("../img/woodstock/com/sun/webui/jsf/suntheme4_2/images/tabs/level1_selected-1lvl.jpg");}

.viewUnit .mainPanel .tabContent, .searchResult3Windows .mainPanel .tabContent {background-image: url("../img/tabContent-ar.jpg");}

/* Tree */
.treePanel .actions {background-color: #E3D3B9; }

.treePanel .actions label span {color: #ffffff;}

/* Popup */
.popup .browser {background-image : url("../img/header-ar2.jpg");}

.searchResultSimple .layout .browser {background-image: none; background-color: #6C4C3B;}

.popup .browser .document,
.searchResultSimple .layout .browser .document {color: #FFFFFF;}

.popup .browser a,
.searchResultSimple .layout .browser a {color: #FFFFFF;}

/* Modal Panel */
.rich-mpnl-header {color:#ffffff; background-image: url("../img/header-ar2.jpg");}

/* Calendar */
.CalPopDiv_sun4 .DatSelTopMiddle_sun4 {background-color: #5F583A;}

.CalPopDiv_sun4 .DatSelContent_sun4 {background-color: #5F583A;}

/* Footer */
#footerPanel {background-color: #EEEED8; visibility: hidden;}

#footerPanel div.left {background-image:  url("../img/footer-l.gif");}

#footerPanel div.right {background-image:  url("../img/footer-r.gif");}

/* Document viewer */
.documentViewer {border-color: #E3D3B9;}

/* Layout */
.yui-skin-sam .yui-layout .yui-layout-hd {background-color: #6C4C3B;}

.yui-skin-sam .yui-layout .yui-layout-clip {background-color: #E3D3B9;}

/* Customer specific */
.deleteDocumentModalPanel .confirmationPanel {margin-top: 8px; border-top-style: solid; border-top-width: 1px; border-top-color: #C4C0B9;}

.deleteDocumentModalPanel .confirmationRadioButtons {margin-top: 8px; margin-left: auto; margin-right: auto;}

.deleteDocumentModalPanel .confirmationRadioButtons label {clear: none; width: 130px; text-align: left; margin-top: 2px;}

.viewUnit .EdtLstTbl_sun4 .Lst_sun4, .viewUnit span.list select {height: 40px;}

