/* Common */
label span, .label {color: #3E72AC;}

.productLogo {background-image: url("../img/header-ar.jpg");}

.breadcrumbs {background-color: #CEDEED;}

/* Login */
.productLogo .description {background-color : #3B5B6C;}	


/* Masterhead */
.MstDiv_sun4 {background-image : url("../img/header-ar.jpg");}

div.mastheadButton_4_sun4 {
	background-image: url("../img/woodstock/btn_bg.jpg"); 
	border-color: #314150;
}

div.mastheadButton_4_sun4 a:hover {color: #6868A4;}

#headerPanel .MstTblTop_sun4 .airsInfo {color: #3E72AC;}

#headerPanel .MstTblTop_sun4 .airsInfo .value {color: #000000;}

#headerPanel .MstTblTop_sun4 .airsInfo .LblLev2Txt_sun4 {color: #3E72AC;}

#headerPanel .MstTblEnd_sun4 .MstStatDiv_sun4 {background-image: url("../img/header-zoneid-bg.gif");}

#headerPanel .jobsInfo {background-image: url("../img/header-zoneid-puce-corbeill.gif");}

#headerPanel .globalSearch {background-image: url("../img/header-zoneid-rech-g.gif");}

/* Version */
.VrsBdy_sun4 .VrsMstBdy_sun4 {background-image: url("../img/header-ar.jpg");}

/* Table */
.contentPage table {background-color: #CEDEED;}

.table {background-image: url("../img/woodstock/table_titlebar_top.gif");}

table.Tbl_sun4 caption.TblTtlTxt_sun4 {
	background-image: url("../img/woodstock/table_titlebar_right.gif");
}

.viewUnit .mainPanel .tabContent .table, .searchResult3Windows .mainPanel .tabContent .table {margin: 0px; background-image: url("../img/woodstock/table_titlebar_top2.gif");}

.viewUnit .mainPanel .tabContent table.Tbl_sun4 caption.TblTtlTxt_sun4,
.searchResult3Windows .mainPanel .tabContent table.Tbl_sun4 caption.TblTtlTxt_sun4 {background-image: url("../img/woodstock/table_titlebar_right2.gif");}

table.Tbl_sun4 {background-color: #A9C0D6; border-color: #A9C0D6;}

table.Tbl_sun4 td.TblActTd_sun4, table.Tbl_sun4 td.TblActTdLst_sun4 {background-color: #A9C0D6;}

table.Tbl_sun4 a.TblHdrLnk_sun4:link, table.Tbl_sun4 a.TblHdrLnk_sun4:visited,
table.Tbl_sun4 th.TblColHdrSel_sun4 a.TblHdrLnk_sun4:link, table.Tbl_sun4 th.TblColHdrSel_sun4 a.TblHdrLnk_sun4:visited {
	background-color: #CEDEED;
}

table.Tbl_sun4 a.TblHdrLnk_sun4:hover,
table.Tbl_sun4 th.TblColHdrSel_sun4 a.TblHdrLnk_sun4:hover, table.Tbl_sun4 th.TblColHdrSel_sun4 a.TblHdrLnk_sun4:hover {
	background-color: #E1EBF5;
}

table.Tbl_sun4 a.TblHdrImgLnk_sun4:link, table.Tbl_sun4 a.TblHdrImgLnk_sun4:visited {background-color: #CEDEED;}

table.Tbl_sun4 a.TblHdrImgLnk_sun4:hover {background-color: #E1EBF5;}

table.Tbl_sun4 .TblHdrTxt_sun4, table.Tbl_sun4 th.TblColHdrSel_sun4 {background-color: #CEDEED;}

.contentPage table.Tbl_sun4 {background-color: #A9C0D6;}

.contentPage table.detail, .radioButtonGroup table, .checkboxButtonGroup table, .tree table {background-color: transparent;}

tr.second, tr.second th, tr.second td {background-color: #E1EBF5;}

tr.row:hover .TblTdLyt_sun4, tr.row:hover .TblTdSel_sun4 {background-color: #ECF5FD;}

/* TabSet */
.Tab1Div_sun4 .Tab1Lnk_sun4, .Tab1Div_sun4 .Tab1Lnk_sun4:link, .Tab1Div_sun4 .Tab1Lnk_sun4:visited {
	background-image: url("../img/woodstock/tab_right.jpg");
}

.Tab1Div_sun4 .Tab1TblSelTd_sun4 .Tab1SelTxtNew_sun4 {
	background-image: url("../img/woodstock/tab_right_selected.jpg");
}

.viewUnit .mainPanel .tabContent, .searchResult3Windows .mainPanel .tabContent {background-image: url("../img/tabContent-ar.jpg");}

/* Tree */
.treePanel .actions {background-color: #A9C0D6; }

.treePanel .actions label span {color: #ffffff;}

/* Popup */
.popup .browser {background-image : url("../img/header-ar2.jpg");}

/* Modal Panel */
.dr-mpnl-pnl-h {background-image: url("../img/header-ar2.jpg");}

/* Calendar */
.CalPopDiv_sun4 .DatSelTopMiddle_sun4 {background-color: #3A525F;}

.CalPopDiv_sun4 .DatSelContent_sun4 {background-color: #3A525F;}

/* Footer */
#footerPanel {background-color: #D8E6EE;}

#footerPanel div.left {background-image:  url("../img/footer-l.gif");}

#footerPanel div.right {background-image:  url("../img/footer-r.gif");}
