@import url(presentation.css);

:root {
  --main-bg-color: #d0faed;

  --icon-size: 40px;

  --svg-fill-color1: #6FCF97;
  --svg-fill-color2: #a4ffdb;
  /*--svg-fill-color2: #448279;*/
}

.reveal table.text-adaptative p {
  margin: 2px 0;
}

.reveal .title.main h1 {
  background-color: white;
}

.reveal section img {
  border: none;
}

.reveal section span.image.inline-icon img {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-left: -9px;
  margin-bottom: -9px;
}

.reveal table.text-adaptative td *,
.text-adaptative {
  font-size: 1.15rem !important;
  line-height: 1rem !important;
}

.reveal:before {
  content: 'Présentation Arcade GED 8.1';
}

.reveal section.bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40% !important;
  box-shadow: none !important;
  height: 100%;
  top: 0 !important;
}

.reveal section.thank-you {
  background-image: url(../images/thanks-icon.svg) !important;
}

.reveal section.thank-you-final {
  background-image: url(../images/pray-icon.svg) !important;
}

.reveal section.questions {
  background-image: url(../images/question-icon.svg) !important;
}

.reveal section.main-enh {
  background-image: url(../images/main-enhancements-icon.svg) !important;
}

.reveal section.other-enh {
  background-image: url(../images/other-enhancements-icon.svg) !important;
}

.reveal section.warn {
  background-image: url(../images/warn-icon.svg) !important;
}